extends modules/layout/_page-default

block head
  +head('Home')

block main
  .bg-gray-lightest
    .tenant-container
      block button
        button.button.button--green(type='text' data-toggle='modal' data-target='#modal-province') トップページへ戻る
  .abc
    - for (let i = 0; i < 8; i++)
      .noti__des.noti__des--more
        | 接待のナレッジをチームで共有。未来の 接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の 接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の 接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の 接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
        | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。未来の幹事を
  block modal
    #modal-province.modal.fade
      .modal-dialog.modal-dialog-centered(tabindex='-1' role='document' aria-labelledby='modal-province' aria-hidden='true')
        .modal-content
          .modal-header.modal-province__header
            h4.modal-title.modal-province__header-title 都道府県選択
            button.modal__close.modal-province__header-close(type='button', data-dismiss='modal')
          .modal-body.p-0
            .noti.noti-detail
              .noti__title 接待に関するナレッジを蓄
              .noti__date.noti__date--detail 2019/10/05（金)
              .noti__des.noti__des--more
                | 接待のナレッジをチームで共有。未来の 接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の 接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の 接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の 接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。
                | 未来の幹事を接待のナレッジをチームで共有。未来の幹事を接待のナレッジをチームで共有。未来の幹事を
